.widget{

	height:56%;
	width:33.333%;
	border:2px solid black;
	border-radius: 10px;
	border-color: #D4D4CA;

}


.top{

	width:100%;
	height:10%;
	background-color:#1f548e;
	display: block;
	top: -10%;
}

.bottom{

	overflow: scroll;
	width:100%;
	height:90%;
	background-color: #D6D6D3;
}

h4{

	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	margin-bottom: 100px;
	margin-top: 0px;
}

tbody tr:hover { 
    background-color: rgba(255,255,255,0.3);
}

tr:nth-child(even) td { 
    background-color: rgba(255,255,255,0.3);
    padding: 15px;

}  

tr:nth-child(odd) td { 
    background-color: rgba(255,255,255,0.4);
    padding: 15px;
}  




