#widget{

	height:50%;
	width:33.333%;
	border:2px;
	border-radius: 10px;
	border-color: #D4D4CA;
}

.top{
	width:100%;
	height:12%;
	background-color:#1f548e;
	display: block;
	border-radius: 10px 10px 0px 0px;

}

h4{
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	margin top: 50px;
}

#ServiceShopsContainer{
	overflow: scroll;
	width:100%;
	height:90%;
	background-color: #D6D6D3;
}

/*thead{
	font-weight: bold;
	font-size: 12pt;
	background-color: rgba(255,255,255,1);
}*/

table{
	font-family: Arial;
	width: 100%;
	heitght: 100%;
	border-collapse: collapse;
	background-color: rgba(255,255,255,0.3);
	color: gray;
}
td{


}

.header{
	cursor: pointer;
	font-size:14pt;
	padding: 6px;
}

.child{
	cursor: pointer;
	font-size: 10pt;
	padding: 5px;

}

/*.tr:nth-child(even) td {
	background-color: rgba(255,255,255,0.3);
}

.tr:nth-child(odd) td {
	background-color: rgba(255,255,255,0.4);
}*/


tbody tr:hover {
	background-color: rgba(255,255,255,0.3);
}

tr:nth-child(even) td {
	background-color: rgba(255,255,255,0.3);
	padding: 5px;
}

tr:nth-child(odd) td {
	background-color: rgba(255,255,255,0.4);
	padding: 5px;
}