body{
margin:0;
padding:0;
background-image: url('http://i.stack.imgur.com/jGlzr.png');

}

p.welcome {
font-size: 900%;
margin-top: 0px;
font-family: arial;
}

.meny {
width: 99%;
height: 20%;
border: solid}

.vspalt {
width: 25%;
height: 80%;
border: solid;
background-color: rgba(255,255,255,0.2);
}

#middle {
width: 73.5%;
height: 80%;
border: solid;
overflow: scroll;
}

#middle::-webkit-scrollbar{
width:30px;
background-color: rgba(255,255,255,0.6);
} 

#middle::-webkit-scrollbar-thumb{
 background-image: -webkit-linear-gradient(top, #ffffff, #d2d4d6);
  background-image: -moz-linear-gradient(top, #ffffff, #d2d4d6);
  background-image: -ms-linear-gradient(top,#ffffff, #d2d4d6);
  background-image: -o-linear-gradient(top, #ffffff, #d2d4d6);
  background-image: linear-gradient(to bottom, #ffffff, #d2d4d6);

border-radius:20px;
}

#middle::-webkit-scrollbar-thumb:hover{
  background-image: -webkit-linear-gradient(top, #d2d4d6, #ffffff);
  background-image: -moz-linear-gradient(top, #d2d4d6, #ffffff);
  background-image: -ms-linear-gradient(top, #d2d4d6, #ffffff);
  background-image: -o-linear-gradient(top, #d2d4d6, #ffffff);
  background-image: linear-gradient(to bottom, #d2d4d6, #ffffff);

}
    
#middle::-webkit-scrollbar-thumb:active{
background-color: rgba(255,255,255,0.6);

} 

.ram {
display: block;
float: left;
}

.boxes{
    margin-left: 25%;
}

.tittelfilter {
text-align: left;
font-size: 200%;
font-family: arial;
}


.filter {
text-align: left;
font-size: 200%;
font:arial;
}

.logo_bild {
    float:left ;
    width:10%;
    height: 100%;
    margin: 0 1% 0 1%;

}
.sokning {
    font-family: arial;
}

.knapp{

    background: #c7d8e3;
  background-image: -webkit-linear-gradient(top, #ffffff, #d2d4d6);
  background-image: -moz-linear-gradient(top, #ffffff, #d2d4d6);
  background-image: -ms-linear-gradient(top,#ffffff, #d2d4d6);
  background-image: -o-linear-gradient(top, #ffffff, #d2d4d6);
  background-image: linear-gradient(to bottom, #ffffff, #d2d4d6);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;

    font-size: 12pt;
    
    cursor: pointer;
    font-family: arial;
    border-radius: 28px;
    text-decoration: none;
}



.rensa{
    margin-left: 13%;
    width: 35%;
    height: 6%;
}

.sok{
    width: 17%;
    height: 6%;
}

.knapp:hover{

  background-image: -webkit-linear-gradient(top, #d2d4d6, #ffffff);
  background-image: -moz-linear-gradient(top, #d2d4d6, #ffffff);
  background-image: -ms-linear-gradient(top, #d2d4d6, #ffffff);
  background-image: -o-linear-gradient(top, #d2d4d6, #ffffff);
  background-image: linear-gradient(to bottom, #d2d4d6, #ffffff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-decoration: none;

}


.searchbar{
    margin: 25px;
    padding: 1px 20px;
    border: 0;
    height: 6%;
    width: 60%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
    -webkit-background-clip: padding-box;
    outline: 0;

}

table, td, th {
    border: 1px solid transparent;
    border-collapse: collapse;
    width: 100%;
    font-family: arial;
    color: solid black;

}

thead {
    font-size: 26pt;
    font-weight: bold;
    background-color: rgba(255,255,255,0.6);

}

tbody tr:hover { 
    background-color: rgba(255,255,255,0.3);
}

tr:nth-child(even) td { 
    background-color: rgba(255,255,255,0.3);
    padding: 15px;

}  

tr:nth-child(odd) td { 
    background-color: rgba(255,255,255,0.4);
    padding: 15px;
}  

input[type="checkbox"] {
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {

}

input{

border : 0;
  
}