.menyfoto{
	width:10%;
	height:99%;
}

.meny{
	width:100%;
	height:10%;
	background-color:#1f548e; 
}

.rubriker{
	display:inline-block;
	font-size: 20px;
	font-family: Arial; 
	width: 20%
	height:20%;
	color:#ffffff;
}

.gulkant{
height:2%;
width: 100%;
background-color:#FFCC00;
}

.searchbar{
float: right;
}

.checkleft{
	float: left;
	width:21%;
	height:60%;
	overflow: scroll;
	position: absolute;
	background-color: rgba(255,255,255,0.4);
}

.widgets{
	float: bottom;
	width:100%;
	height:30%;
	overflow: scroll;
}

.map{
	background-image: url("http://vb.uppsala.se/PageFiles/4281/kartbild_redigerad-1.jpg"); 
	float: right;
	width:100%;
	height:61%;
	overflow: scroll;
}

thead{
	font-weight: bold;
	font-size: 18pt;
	background-color: rgba(255,255,255,0.6);

}

table{
	font-family: arial;
	width: 100%;
	border-collapse: collapse;
	background-color: rgba(255,255,255,0.3);
	color: gray;

}

.header{
	cursor: pointer;
	font-family: Arial; 
	font-size:14pt;
	background-color: rgba(255,255,255,0.3);
}

td{
	padding: 15px
}

.child{

	font-family:Arial;
	font-size: 11pt;
}

tr:hover{
background-color: rgba(255,255,255,0.9);
}