.menyfoto{
	width:10%;
	height:99%;
}

.meny{

	width:100%;
	height:10%;
	background-color:#1f548e; 
}

.rubriker{

	display:inline-block;
	font-size: 20px;
	font-family: Arial; 
	width: 20%;
	height:20%;
	color:#ffffff;
}

.gulkant{

height:2%;
width: 100%;
background-color:#FFCC00;
}

.searchbar{
	float: right;
}
.lefthigh{
	display:inline-block;
	font-size: 20px;
	font-family: Arial; 
	width: 20%;
	height:20%;
	color:#ffffff;


}

/*leftlow{
	float: left;
	width:21%;
	height:50%;

}
.righthigh{
	float: right;
	width:21%;
	height:100%;
	}
.rightlow{
	float: right;
	width:21%;
	height:50%;

}*/


